extends layout
block append head
  link(rel='stylesheet', href='/css/index.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.block.index_show
        div.index_tap.left
          ul.inner
            li
              a(href="/manage/task")
                span
                  i.iconfont &#xe642
                  em= task
                  strong 未完成任务
            li
              a(href="/group/user")
                span
                  i.iconfont &#xe643
                  em= user
                  strong 用户数
        &nbsp;
        div.index_tap.right
          ul.inner
            li
              a(href="/manage/bug")
                span
                  i.iconfont &#xe641
                  em= bug
                  strong 未解决BUG数
      div.common_table(style='margin:30px 20px')
        table
          tr.table_hd
            th
              span 类型
            th
              span 我的未解决
            th
              span 总未解决
          tr
            td bug
            td= myBug
            td= bug
          tr
            td 任务
            td= myTask
            td= task
      div.common_table(style='margin:30px 20px')
        table
          tr.table_hd
            th(colspan='3')
              span 本月新增公告
          each item in notice
            tr
              td
                a(href='/share/notice/detail?_id=#{item._id}' target='_blank')= item.title
              td(style='width: 140px')
                = item.updatetime
              td(style='width: 140px')
                = item.creater_id?item.creater_id.realname:'未知'
append script
  script(src='/src/index.js')
