extends layout
block append head
  link(rel='stylesheet', href='/src/plugin/pageination.css')
  link(rel='stylesheet', href='/css/message.css')
block content
  #container.clearfix
    include leftside
    .col-main
      div.main_bd.clearfix(style='padding:0')
        div.message-left
          div.message-left-head
            a.goback(href='/manage/message') 返回
            h3
              if(letter.to_id)
                if(letter.to_id._id !== user._id)
                  span 与#{letter.to_id.realname}对话中
                else
                  span 与#{letter.from_id.realname}对话中
              else
                span 与#{letter.realname}对话中
          div.message-left-content
            if(letter.dialogue)
              each item in letter.dialogue
                if(user._id != item.from._id)
                  div.content_inner.left
                    p.time= item.formattime
                    div.user
                      div.img
                        img(src= item.from.head_url)
                      div.text
                        div.arrow
                        span= item.content
                else
                  div.content_inner.right
                    p.time= item.formattime
                    div.user
                      div.img
                        img(src= item.from.head_url)
                      div.text
                        div.arrow
                        span= item.content
            //
              div.content_inner.left
                p.time 2016-12-12 12:12:12
                div.user
                  div.img
                    img(src= 'http://7xthm1.com1.z0.glb.clouddn.com/FjiAdj4WjYS5ZaSaKomu23Wi-vHK?imageView2/1/w/200/h/200/q/100/format/jpg')
                  div.text
                    div.arrow
                    span 哈哈哈哈
              div.content_inner.right
                p.time 2016-12-12 12:12:12
                div.user
                  div.img
                    img(src= 'http://7xthm1.com1.z0.glb.clouddn.com/FjiAdj4WjYS5ZaSaKomu23Wi-vHK?imageView2/1/w/200/h/200/q/100/format/jpg')
                  div.text
                    div.arrow
                    span 哈哈哈s哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈

          div.message-left-action
            div.input_group(style= 'margin-top: 12px;')
              div.input_inner(style ='display: block;margin-bottom: 12px;padding-bottom: 0')
                input(id='message_input' type= "text" placeholder="请输入消息" style= 'width: 90%')
              div.btn_inner.clearfix(style ='display: block;margin: 12px 0;width: 90%;margin: 0 auto;padding: 0;border: 0')
                a.btn-success(href='javascript:void(0);' style= "float: right" id='send') 发送

        div.message-right(style= 'min-height: 880px')
            h3.title 同事
            div.user_group
              each item in depart
                div.user_inner
                  a.J-depart(href='javascript:void(0);' _id= item._id)
                    i.iconfont &#xe637
                    span= item.name

append script
  script(src='/socket.io/socket.io.js')
  script(src='/src/plugin/lib-pagination.js')
  script(src='/src/message-history.js')
