if(letters.length>0)
   each item in letters
      div.message_inner
            if(item.from_id._id == _id)
               a(href='/manage/message/history?_id='+item.to_id._id)
                  if(!item.isRead && _id != item.dialogue[item.dialogue.length-1].from._id)
                     div.red
                  img(src= item.to_id.head_url)
                  div.detail
                     p= item.to_id.realname
                        span.right= moment(item.dialogue[item.dialogue.length-1].time).format('YYYY-MM-DD HH:mm:ss')
                     p= item.dialogue[item.dialogue.length-1].content
            else
               a(href='/manage/message/history?_id='+item.from_id._id)
                  if(!item.isRead && _id != item.dialogue[item.dialogue.length-1].from._id)
                     div.red
                  img(src= item.from_id.head_url)
                  div.detail
                     p= item.from_id.realname
                        span.right= moment(item.dialogue[item.dialogue.length-1].time).format('YYYY-MM-DD HH:mm:ss')
                     p= item.dialogue[item.dialogue.length-1].content
            div.action_inner
               a.J-delete(href='javascript:void(0);' title='删除' _id= item._id)
                  i.iconfont &#xe63c
else
   p(style= 'padding: 20px;font-size: 14px; text-align: center') 暂无私信